body {
    box-sizing: border-box;
    background-color: #1F618D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100%
}

h1 {
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 0 0 10px 2px;
}

h3 {
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-shadow: 0 0 10px 2px;
}

p {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding-inline-start: 0px;
    list-style-type: none;
}

#content {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 800px;
    max-width: 80%;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#container h1 {
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.btn {
    border: 2px solid #000000;
    background-color: #1F618D;
    border-radius: 5px;
    padding: 5px 10px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
}

.btn:hover {
    background: #ffffff;
    color: #1F618D;
    transition: all 0.5s ease;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none !important;
}

#workout-div {
    display: block;
    justify-content: center;
    align-items: center;
}

#workout-list {
    min-width: 30%;
    list-style: none;
}

.workout {
    margin: 0.5rem;
    background:#1F618D;
    color: #ffffff;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.workout-item {
    padding: 0rem 0.5rem;
}

.complete-btn {
    background: #1F618D;
    color: #ffffff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn:hover {
    background: #ffffff;
    color: #1F618D;
    transition: all 0.5s ease;
}

.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

.finish-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

a:link {
    color: #ffffff;
    text-decoration:  none;
}

a:visited {
    color: #ffffff;
    text-decoration:  none;
}
a:hover {
    /* color: #F4D03F; */
    text-decoration: underline;
    transition: all 0.25s ease;
}


/* is this a good idea?!?!?!?!?!?!?!??!?! */
*:focus {
    outline: none;
}

/* NAV BAR */
#nav {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px 2px;
}

#nav a:visited, #nav a:link {
    color: #000000;
    margin: 0;
    padding: 1rem;
}

#nav a:hover {
    color: #ffffff;
    background: #1F618D;
    text-decoration: none;
    transition: all 0.25s ease;
}

#nav a {
    float: left;
    text-align: center;
}

#float-right {
    float: right;
    font-style: italic;
}


/* EXERCISE/SPLITS STYLING */
#split {
    margin: 0.5rem;
    background:#1F618D;
    color: #ffffff;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #000000;
    border-radius: 5px;
    transition: all 0.5s ease;
}

#split-item {
    padding: 0.5rem 0.5rem;
}

/* HEADER STYLING */
#header-content {
    text-align: center;
    text-shadow: 2px 2px #000000;
}

/* FOOTER STYLING */
#footer {
    color: #ffffff;
}

/* GIF STYLING */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}