body {
    box-sizing: border-box;
    background-color: #1F618D;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100%
}

h1 {
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff
}

h3 {
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000
}

p {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center
}

ul {
    padding-inline-start: 0px;
    list-style-type: none
}

#content {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center
}

#container {
    width: 800px;
    max-width: 75%;
    background-color: #ffffff;
    padding: 1.5rem
}

#container h1 {
    margin: 0;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000
}

.btn {
    border: 2px solid #1F618D;
    background-color: #1F618D;
    padding: 5px 10px;
    color: #ffffff;
    outline: none;
    cursor: pointer;
    font-size: 16px
}

.btn:hover {
    background: #ffffff;
    color: #1F618D;
    transition: all 0.5s ease
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center
}

.hide {
    display: none !important
}

#workout-div {
    display: block;
    justify-content: center;
    align-items: center
}

#workout-list {
    min-width: 30%;
    list-style: none
}

.workout {
    margin: 0.5rem;
    background:#1F618D;
    color: #ffffff;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #1F618D;
    transition: all 0.5s ease
}

.workout-item {
    padding: 0rem 0.5rem
}

.complete-btn {
    background: #1F618D;
    color: #ffffff;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-size: 16px
}

.complete-btn:hover {
    background: #ffffff;
    color: #1F618D;
    transition: all 0.5s ease
}

.fa-check {
    pointer-events: none
}

.completed {
    text-decoration: line-through;
    opacity: 0.5
}

.finish-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    font-size: 16px
}

a:link {
    color: #ffffff;
    text-decoration:  none;
}

a:visited {
    color: #ffffff;
    text-decoration:  none
}
a:hover {
    text-decoration: underline;
    transition: all 0.25s ease
}


*:focus {
    outline: none
}

/* NAV BAR */
#nav {
    background-color: #ffffff;
    overflow: hidden;
    width: 100%; 
    margin: 0 0 3rem 0;
    padding: 0
}

#nav-content {
    text-align: center;
    justify-content: center;
    margin: auto;
    max-width: 1000px
}

#nav a:visited, #nav a:link {
    color: #000000;
    margin: 2px;
    padding: 1rem
}

#nav a:hover {
    color: #ffffff;
    background: #1F618D;
    text-decoration: none;
    transition: all 0.25s ease
}

#nav a {
    float: left;
    text-align: center
}

#float-right {
    float: right;
    font-style: italic
}


/* EXERCISE/SPLITS STYLING */
#split {
    margin: 0.5rem;
    background:#1F618D;
    color: #ffffff;
    font-size: 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #1F618D;
    transition: all 0.5s ease
}

#split-item {
    padding: 0.5rem 0.5rem
}

/* HEADER STYLING */
#header-content {
    text-align: center
}

/* FOOTER STYLING */
#footer {
    color: #ffffff;
    margin: 3rem 0 0 0
}

/* GIF STYLING */
img {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* HOME PAGE STYLING */
#register-login {
    margin: 1.5rem;
    text-align: center
}

#register-login-button {
    background-color: #ffffff;
    color: #1F618D;
    border: 2px solid #1F618D;
    width: 7.5rem;
    padding: 0.75rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: .5rem;
    cursor: pointer
}

#register-login-button:hover {
    background-color: #1F618D;
    color: #ffffff;
    border: 2px solid #1F618D;
    transition: all 0.5s ease
}

#register-login a {
    margin: 1rem;
    padding: 0;
    color: #000000;
    font-weight: bold
}

/* LOGIN / REGISTER FORMS */

#login-register-form {
    margin: 2rem 0
}

#login-register-form input {
    width: 50%;
    padding: 0.5rem 0.5rem;
    margin: 0.25rem;
    border: 1px solid #000000
}

#login-button, #register-button, #logout-button {
    background-color: #1F618D;
    color: #ffffff;
    border: 2px solid #1F618D;
    padding: 0.5rem 0.67rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: .5rem;
    cursor: pointer
}

#login-button:hover, #register-button:hover, #logout-button:hover {
    background-color: #ffffff;
    color: #1F618D;
    border: 2px solid #1F618D;
    padding: 0.5rem 0.67rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: all 0.5s ease;
    font-size: 16px;
    margin: .5rem;
    cursor: pointer
}

/* WORKOUT FORM */

#workout-select {
    border: 1px solid #000000
}

#exercises-select-wrapper {
    display: flex;
    justify-content: center;
}

#exercises-select {
    font-size: xx-large;
    font-weight: bolder;
    text-align-last: center;
    margin: 25px;
    border: none;
}